@charset "EUC-KR";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Nanum Gothic';
	outline: none;
	box-sizing: border-box;
}
#title {
	margin: 30px 20px;
	font-weight: normal;
	padding: 10px;
}

#boardtbl {
	margin-top: 50px;
	padding: 30px;
	border-collapse: collapse;
}

#boardtbl tr td:first-child {
	font-weight: bold;
	width: 20%;
	text-align: center;
}

#boardtbl tr {
	border-bottom: 1px solid rgb(190, 190, 190);
}

#boardtbl tr td {
	padding: 30px;
}

#inputtitle {
	width: 100%;
	border: none;
	outline: none;
	border-bottom: 1px solid #ccc;
	height: 30px;
}

#contents {
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	padding: 5px;
}

#boardtbl tr:last-child {
	border: none;
}

.btn {
	border-radius: 5px;
	color: #fff;
	background-color: #3f48ccc0;
	border: 1px solid #3f48ccc0;
	width: 150px;
	height: 50px;
	font-size: 16px;
	margin-top: 10px;
	cursor: pointer;
	transition: 0.3s all;
}

.btn:hover {
	background-color: black;
}