@charset "EUC-KR";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Nanum Gothic';
	outline: none;
	box-sizing: border-box;
}
#title{ /*장바구니 타이틀*/
    margin: 30px 20px;
}
/******************************전체선택 / 해제*********************************/
#selectOp{ 
    text-align: right;
    margin-bottom: 30px;
}
#selectOp li{
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 15px;
    transition: 0.2s all;
}
#selectOp li:hover{
    color: #2730ad;
}

/****************************** 장바구니 정보 테이블 *********************************/

#navtable th, #navtable td{
    text-align: center;
}
#navtable th:nth-child(2){
	width: 34%;
}
#navtable td{ /* 테이블 각 td 높이, 글간격 설정 */
    height: 150px;
    vertical-align: middle;
}
#navtable tbody{
	font-size: 13px;
	color: #444;
}
tbody img{ /* 이미지 크기 설정 */
    width: 100px;
    height: 150px;
}
.count{ /* 수량 부분 lineheight 초기화*/
    line-height: 25px !important;
}
.countDiv{
    margin-top: 50px;
}
.countInput{ /* 수량 입력창 설정*/
    width: 50px;
    background-color: inherit;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: 1px solid #3f48cc6e;
}
.countBtn{ /* 수량 조정 버튼 */
    margin-top: 5px;
    background-color: #3f48ccc0;
    border: 1px solid #3f48ccc0;
    padding: 4px;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s all;
}
.countBtn:hover{
    background-color: black;
}

/****************************** 가격 정보 테이블*********************************/

#infotable
{
    margin: 50px auto;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    width: 800px;
}
.pricetitle{
    background-color: #ccc;
}

#infotable th 
{
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background-color: #3f48ccd0;
    padding: 20px;
}
#infotable td 
{
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: white;
    padding: 20px;
}
.noBorderBottom{
    border-bottom: none !important;
}
#btndiv
{
    text-align: center;
}
.btn    
{
    border-radius: 5px;

    width : 150px; 
    height : 50px;
    margin-top: 10px;
    cursor: pointer;
	transition: 0.3s all;
	color: #fff;
	background-color: #3f48ccc0;
	border: 1px solid #3f48ccc0;}
.btn:hover{
    background-color: black;
}
#btndiv{
    margin-top: 38px;
}
.trEach{
	cursor: pointer;
}
.goDetail{
	font-weight: bold;
	font-size: 14px;
}